.contact {
  .inner {
    margin-bottom: 2rem;

    h1 {
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 2rem;
    }

    .content {
      display: flex;
      align-items: center;
      margin-top: 2rem;

      .form-container {
        width: 40%;
      }
      
      .contact-form {
        background: rgba( 255, 255, 255, 0.35 );
        padding: 2rem;
        width: 100%;
        // border: 1px solid white;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.0px );
        -webkit-backdrop-filter: blur( 3.0px );
        border-radius: 24px;

        h2 {
          font-size: 2.5rem;
          margin-bottom: 2rem;
          text-align: center;
        }

        input, textarea {
          width: 100%;
          border: none;
          border-radius: 16px;
          padding: 1rem;
          margin-bottom: 1rem;
          font-size: 1.2rem;

          &:focus {
            outline: none;
          }

        }

        #submit {
          width: auto;
          float: right;
        }
      }

      .info {
        width: 60%;
        background-color: transparent;
        padding: 2rem 3rem 2rem 6rem;
        // border: 1px solid yellow;

        h2 {
          text-align: center;
          font-weight: 400;
          color: rgba( 255, 255, 255, 0.9);
        }

        h3 {
          color: rgba( 255, 255, 255, 0.8);
        }

        a {
          color: $primary;

          &:hover {
            color: lighten($primary, 20%);
            text-shadow: 0 0 4px rgba(255,255,255,0.6);
          }
        }

        h5 {
          color: rgba(255, 255, 255, 0.8);
          margin-top: 2rem;
          text-align: center;
        }

        ul {
          margin-left: 3rem;
          color: rgba(255, 255, 255, 0.9);

          li {
            margin-bottom: 0.6rem;
          }
        }

        .techs {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 2rem;

          img {
            max-height: 85px;
            max-width: 85px;
            margin: 0.5rem;
          }
        }
      }
    }
  }
}